
<!doctype>
<html>
	<body style="background-color:#32728F; padding-top:10%;" align="center">
		<h1 style="color:#ffffff;"> Welcome to our Squirrel Tracker App!</h1>
		<form action="views/">
			<button type="submit">VIEW ALL SIGHTINGS
			</button>
		</form>
		<form action="add/">
                        <button type="submit">ADD A NEW SIGHTING
                        </button>
                </form>
		<form action="map/">
                        <button type="submit">VIEW SQUIRREL SIGHTINGS ON MAP
                        </button>
                </form>
		<form action="stats/">
                        <button type="submit">VIEW STATS FOR ALL SIGHTINGS
                        </button>
                </form>
	</body>
</html>
