{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'squirrelapp/style.css' %}">
<table>
	<thead>
		<tr>
		  <th>ID</th>
		  <th>Squirrel ID</th>
		  <th>Latitude</th>
		  <th>Longitude</th>
		  <th>Shift</th>
		  <th>Date</th>
		  <th>Age</th>
		  <th>Location</th>
		  <th>Specific Location</th>
		  <th>Color of fur</th>
		  <th>Run</th>
		  <th>Chase</th>
		  <th>Climb</th>
		  <th>Eat</th>
		  <th>Forage</th>
		  <th>Other Activities</th>
		  <th>Kuk</th>
		  <th>Quaa</th>
		  <th>Moan</th>
		  <th>Tail Flags</th>
		  <th>Tail Twitches</th>
		  <th>Approach</th>
		  <th>Indifferent</th>
		  <th>Runs</th>
		</tr>
	</thead>
	<tbody>
          {% for sighting in sightings %}
          <tr>
                  <td>{{sighting.Unique_Squirrel_ID}}</td>
		  <td> <a>{{sighting.Unique_Squirrel_ID}}</a> </td>
                  <td>{{sighting.Latitude}} </td>
                  <td>{{sighting.Longitude}} </td>
		  <td>{{sighting.Shift}} </td>
		  <td>{{sighting.Date}} </td>
                  <td>{{sighting.Age}} </td>
                  <td>{{sighting.Location}} </td>
                  <td>{{sighting.Specific_Location}} </td>
                  <td>{{sighting.Primary_Fur_Color}} </td>
                  <td>{{sighting.Running}} </td>
                  <td>{{sighting.Chasing}} </td>
                  <td>{{sighting.Climbing}} </td>
                  <td>{{sighting.Eating}} </td>
                  <td>{{sighting.foraging}} </td>
                  <td>{{sighting.Other_Activities}} </td>
                  <td>{{sighting.Kuks}} </td>
                  <td>{{sighting.Quaas}} </td>
                  <td>{{sighting.Moans}} </td>
                  <td>{{sighting.Tail_flags}} </td>
                  <td>{{sighting.Tail_twitches}} </td>
                  <td>{{sighting.Approaches}} </td>
                  <td>{{sighting.Indifferent}} </td>
                  <td>{{sighting.Runs_from}} </td>
          </tr>
          {% endfor %}		
	</tbody>
</table>
